.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espalha os itens igualmente */
    padding: 10px 20px;
    background-color: #f9f9f9;
    height: 150px; 
}

.header-nav {
    margin-left: auto; /* Move o menu para a direita */
    margin-right: 20px; /* Ajusta a distância do menu para o botão de logout */
}

.header-nav ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.header-nav ul li a {
    text-decoration: none;
    color: #251FC5;
    font-weight: bold;
    font-size: 20px; /* Aumenta o tamanho da fonte */
}

.header-nav ul li a:hover {
    text-decoration: underline;
}

.logout-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 20px; /* Ajusta a distância entre o botão e o menu */
}

.header-container img {
    height: 150px; 
    width: auto; 
    margin-right: 20px; 
    margin-left: 100px;
}
